.button {
  display: block;
  padding: 20px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-align: center;
  color: #ffffff;

  background-color: #f5112c;
  box-shadow: 0px 10px 18px 0px rgba(246, 27, 60, 0.55);
  border-radius: 31px;
}
