.contact__phone {
  margin: 0;
}

.contact__phone-number {
  line-height: 24px;
  color: #141414;

  text-decoration: none;
}

.contact__phone-link {
  padding-bottom: 3px;

  line-height: 24px;
  color: #f5112c;

  text-decoration: none;
  border-bottom: 1px solid;
}

.contact__address {
  display: none;
  margin: 0;
}

@media (min-width: 768px) {
  .contact {
    flex-basis: 552px;
    justify-content: space-between;

    font-size: 16px;
    line-height: 24px;
  }

  .contact__address {
    display: block;
  }
}
