.intro__wrapper {
  padding-top: 315px;
  padding-bottom: 75px;

  background-image: url("../img/bus-mob.png");
  background-repeat: no-repeat;
  background-position: center -20px;
}

.intro__title {
  position: relative;

  margin: 0 0 12px;
  padding-bottom: 18px;

  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;

  &::after {
    content: "";
    position: absolute;

    width: 64px;
    height: 7px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f5112c;
  }
}

.intro__title-small {
  display: block;

  font-size: 18px;
}

.intro__text {
  margin: 0 0 12px;

  text-align: center;
}

@media (min-width: 768px) {
  .intro {
    position: relative;

    overflow: hidden;

    &::before {
      content: "english yes";
      position: absolute;
      z-index: -1;
      top: 50px;
      right: 15px;

      color: #e2e2e2;
      font-weight: 900;
      font-size: 165px;
      line-height: 130px;
      text-align: right;
      opacity: 0.5;
    }
  }

  .intro__wrapper {
    padding-top: 105px;
    padding-left: 342px;
    padding-bottom: 60px;

    background-image: url("../img/bus-medium.png");
    background-repeat: no-repeat;
    background-position: -52px -45px;
  }

  .intro__title-small {
    margin-bottom: 0;

    font-size: 24px;
  }

  .intro__title {
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 38px;
    text-align: left;

    &::after {
      bottom: -5px;
      left: 0;
      transform: inherit;
    }
  }

  .intro__text {
    position: relative;

    margin-bottom: 70px;

    font-size: 16px;
    line-height: 25px;
    text-align: left;

    &::before {
      position: absolute;
      content: "";
      top: 75px;
      left: -50px;
      width: 145px;
      height: 19px;
      background-image: url("../img/wave.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .intro__link {
    display: inline-block;
    padding: 20px 28px;
  }
}
