.problems {
  background-image: url("../img/background-mob.png");
  background-repeat: no-repeat;
  background-position: center -200px;
  background-size: 100%;
}

.problems__wrapper {
  padding-top: 92px;
  padding-bottom: 95px;
}

.problems__title {
  position: relative;
  z-index: 1;

  display: block;
  margin: 0 0 68px;

  &::after {
    content: "?";
    position: absolute;
    z-index: -1;
    top: 38px;
    right: 38px;
    transform: scale(8);

    color: #e2e2e2;
    opacity: 0.7;
  }
}

.problems__list {
  @include list-reset;

  margin-bottom: 55px;

  text-align: center;
}

.problems__item {
  margin-bottom: 50px;
}

.problems__number {
  display: block;
  margin-bottom: 15px;

  font-size: 48px;
  line-height: 19px;
  font-weight: 900;
}

.problems__number-dot {
  color: #f5112c;
}

.problems__text {
  margin: 0 0 23px;
  padding: 0 20px;

  color: #1b1b1b;

  &--result {
    text-align: center;
  }
}

.problems__img {
  width: 100%;

  display: block;
}

.problems__result {
  display: block;
  margin: 0 0 9px;

  font-size: 48px;
  font-weight: 900;
  line-height: 28px;
  text-align: center;
}

@media (min-width: 414px) {
  .problems {
    background-position: center -270px;
  }
}

@media (min-width: 768px) {
  .problems {
    background-image: url("../img/background-tablet.png");
    background-position: center -120px;
  }

  .problems__wrapper {
    padding-top: 120px;
    padding-bottom: 80px;
  }

  .problems__title {
    padding: 0 400px 0 8px;
    margin-bottom: 58px;

    &::after {
      top: 22px;
      right: unset;
      left: 270px;
      transform: scale(6.5);
    }
  }

  .problems__text {
    padding-left: 10px;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 24px;
    text-align: left;

    &--passanger {
      position: relative;

      padding-right: 60px;

      &::before {
        position: absolute;
        content: "";
        top: 125px;
        left: 230px;
        width: 145px;
        height: 19px;
        background-image: url("../img/wave.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &--compass {
      margin-left: 50px;
      padding-right: 70px;
    }

    &--traveller {
      padding-right: 50px;
    }

    &--result {
      padding-left: 30px;
      margin-top: 80px;
    }
  }

  .problems__item {
    position: relative;

    display: flex;
    align-items: center;

    margin-bottom: 62px;

    &--compass {
      flex-direction: row-reverse;
    }
  }

  .problems__number {
    position: absolute;

    &--one {
      top: 55px;
      right: 368px;
    }

    &--two {
      top: 40px;
      left: 315px;
    }

    &--three {
      top: 150px;
      right: 304px;
    }
  }

  .problems__img {
    flex-shrink: 0;

    &--passangers {
      width: 407px;
    }

    &--compass {
      width: 344px;
    }

    &--traveller {
      width: 343px;
    }

    &--relax {
      width: 346px;
    }
  }

  .problems__conclusion {
    position: relative;

    display: flex;
    flex-direction: row-reverse;
  }

  .problems__result {
    position: absolute;
    left: 300px;
    top: 27px;
  }
}

