.process__wrapper {
  padding-top: 82px;
  padding-bottom: 65px;
}

.process__title {
  position: relative;

  display: block;
  margin-bottom: 36px;
  padding-bottom: 23px;

  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;

    width: 64px;
    height: 7px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: #f5112c;
  }
}

.process__list {
  @include list-reset;
}

.process__item {
  margin-bottom: 36px;
}

.process__name {
  position: relative;
  left: 40%;
  transform: translateX(-40%);

  display: inline-block;

  margin: 0 0 8px;
  padding-left: 35px;

  font-size: 14px;

  &::before {
    content: "";
    position: absolute;

    width: 13px;
    height: 9px;
    top: 6px;
    left: 0;

    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
  }
}

.process__description {
  margin: 0 0 24px;

  text-align: center;
}

.process__photo {
  width: 100%;

  display: block;
}

@media (min-width: 768px) {
  .process__wrapper {
    padding-top: 155px;
  }

  .process__title {
    padding-right: 300px;
    margin-bottom: 115px;

    text-align: left;

    &::after {
      left: 0;
      transform: unset;
    }
  }

  .process__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 75px;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n) div {
      padding-left: 25px;
    }
  }

  .process__item div {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: 50%;

    margin-right: 10px;
    padding-right: 30px;
  }

  .process__name {
    font-size: 16px;
    line-height: 24px;
  }

  .process__description {
    margin-bottom: 0;
    padding-left: 35px;

    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .process__photo {
    width: 345px;
  }
}
