.schedule {
  background-image: url("../img/bigben-small.png");
  background-repeat: no-repeat;
}

.schedule__wrapper {
  padding-top: 425px;
  padding-bottom: 35px;
}

.schedule__price {
  display: block;
  margin: 0 0 10px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;

  color: #f5112c;
}

.schedule__title {
  position: relative;
  display: block;
  margin: 0 0 13px;
  padding-bottom: 18px;

  @include border-bottom;
}

.schedule__description {
  margin: 0 0 32px;

  text-align: center;
}

.schedule__list {
  @include list-reset;

  text-align: center;
}

.schedule__item {
  margin-bottom: 25px;
}

.schedule__week {
  margin: 0 0 8px;

  font-size: 14px;
  font-weight: 900;
}

.schedule__week-description {
  margin: 0;
}

@media (min-width: 768px) {
  .schedule {
    background-image: url("../img/bigben-medium.png");
    background-repeat: no-repeat;
    background-position: -150px 10px;
    background-size: contain;
  }

  .schedule__wrapper {
    padding-top: 67px;
    padding-left: 145px;
  }

  .schedule__title {
    max-width: 500px;

    margin-bottom: 25px;

    &::before {
      content: "?";
      position: absolute;
      z-index: -1;
      top: 15px;
      right: 65px;
      transform: scale(8);

      color: #e2e2e2;
      opacity: 0.7;
    }
  }

  .schedule__price {
    margin-bottom: 32px;

    font-size: 30px;
    text-align: left;
  }

  .schedule__description {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .schedule__list {
    column-count: 2;
    column-gap: 15px;

    text-align: left;
  }

  .schedule__week {
    margin-bottom: 15px;
  }

  .schedule__week-description {
    padding-right: 18px;

    font-size: 16px;
    line-height: 24px;
  }
}
