.solutions__wrapper {
  padding-top: 60px;
  padding-bottom: 40px;

  text-align: center;
}

.solutions__title {
  position: relative;

  display: block;
  margin: 0 0 48px;
  padding-bottom: 18px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;

  &::after {
    content: "";
    position: absolute;

    width: 64px;
    height: 7px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f5112c;
  }
}

.solutions__list {
  @include list-reset;
}

.solutions__item {
  padding: 0 40px;
  margin-bottom: 45px;
}

.solutions__name {
  position: relative;

  display: block;

  font-size: 14px;
  line-height: 24px;
  font-weight: 900;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;

    width: 50px;
    height: 50px;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);

    background-color: #f5f5f5;
    border-radius: 50%;
  }
}

@media (min-width: 768px) {
  .solutions__wrapper {
    padding-top: 108px;
  }

  .solutions__title {
    padding-right: 375px;
    padding-bottom: 27px;
    margin-bottom: 62px;

    font-size: 30px;
    line-height: 38px;
    text-align: left;

    &::after {
      left: 0;
      transform: unset;
    }
  }

  .solutions__list {
    display: flex;
    justify-content: space-between;

    text-align: left;
  }

  .solutions__item {
    width: 31%;
    padding: 0;
    margin: 0;
  }

  .solutions__name {
    font-size: 16px;
    line-height: 24px;
  }

  .solutions__description {
    font-size: 16px;
    line-height: 24px;
  }
}


