.teachers__wrapper {
  padding-bottom: 15px;
}

.teachers__title {
  display: block;
  margin-bottom: 35px;
}

.teachers__list {
  @include list-reset;
}

.teachers__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.teachers__name {
  margin: 0 0 5px;

  font-size: 14px;
  font-weight: 900;
  line-height: 28px;
}

.teachers__photo {
  width: 100%;
  order: -1;

  margin-bottom: 15px;
}

.teachers__description {
  margin: 0;
}

@media (min-width: 768px) {
  .teachers {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: 40px;
      right: 0;
      width: 335px;
      height: 435px;
      background-image: url("../img/bagel-wave.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .teachers__title {
    margin-bottom: 60px;
  }

  .teachers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .teachers__item {
    flex-basis: 48%;
  }

  .teachers__name {
    font-size: 18px;
  }

  .teachers__description {
    padding-right: 10px;

    line-height: 24px;
  }

  .teachers__photo {
    margin-bottom: 22px;
  }
}
