@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"),
    url("../fonts/gilroy-light.woff2") format("woff2"),
    url("../fonts/gilroy-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Extra Bold"),
    url("../fonts/gilroy-extra-bold.woff2") format("woff2"),
    url("../fonts/gilroy-extra-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
